$ORIGIN {{ .Name }}
{{- if .Zone.TTL.Value }}
$TTL {{ .Zone.TTL.Value }}{{ if .Zone.TTL.Comment }} ; {{ .Zone.TTL.Comment }}{{- end }}
{{- end }}
@ {{ .Zone.Class }} SOA {{ .Zone.Nameserver }} {{ .Zone.Administrator }} (
    {{ printf "%-20d" .Zone.Serial }} ; serial
    {{ printf "%-20d" .Zone.Refresh.Value }}{{ if .Zone.Refresh.Comment }} ; {{ .Zone.Refresh.Comment }}{{ end }}
    {{ printf "%-20d" .Zone.Retry.Value }}{{ if .Zone.Retry.Comment }} ; {{ .Zone.Retry.Comment }}{{ end }}
    {{ printf "%-20d" .Zone.Expire.Value }}{{ if .Zone.Expire.Comment }} ; {{ .Zone.Expire.Comment }}{{ end }}
    {{ printf "%-20d" .Zone.Minimum.Value }}{{ if .Zone.Minimum.Comment }} ; {{ .Zone.Minimum.Comment }}{{ end }}
)
{{- range $name, $record := .ResourceRecords }}
{{- with $record }}
{{ printf "%-40s" (lastOctet .Value) }} {{ if .TTL }}{{ .TTL }} {{ end }}{{ if .Class }}{{ .Class }} {{ end }}{{ printf "%-6s" "PTR" }} {{ $name }}.{{ $.ForwardZone }}{{ if .Comment }} ; {{ .Comment }}{{ end }}
{{- end }}
{{- end }}

