$ORIGIN {{ .Name }}
{{- if .Zone.TTL.Value }}
$TTL {{ .Zone.TTL.Value }}
{{- end }}
@ {{ .Zone.Class }} SOA {{ .Zone.Nameserver }} {{ .Zone.Administrator }} (
    {{ printf "%-20d" .Zone.Serial }}
    {{ printf "%-20d" .Zone.Refresh.Value }}
    {{ printf "%-20d" .Zone.Retry.Value }}
    {{ printf "%-20d" .Zone.Expire.Value }}
    {{ printf "%-20d" .Zone.Minimum.Value }}
)
{{- range .Zone.ResourceRecordsSortOrder }}
{{- $name := . }}
{{- $record := index $.Zone.ResourceRecords $name }}
{{- with $record }}
{{- if eq .Type "NS" }}
{{ if .Value }}{{ printf "%-40s" .Value }} {{ else }}{{ printf "%-40s" ""}} {{ end }}{{ if .TTL }}{{ .TTL }} {{ end }}{{if .Class }}{{ .Class }} {{ end }}{{ printf "%-6s" .Type }} {{ $name }}
{{- else }}
{{ printf "%-40s" $name }} {{ if .TTL }}{{ .TTL }} {{ end }}{{ if .Class }}{{ .Class }} {{ end }}{{ printf "%-6s" .Type }} {{ .Value }}
{{- end }}
{{- end }}
{{- end }}

